
@{
    ViewBag.Title = "VisitorReport";
}

<style>
    iframe {
        position: fixed;
        background: #ffffff;
        border: none;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<body>
    <iframe src="~/Report/VisitorPage.aspx" style="padding:10px;">
    </iframe>
</body>

