
@{
    ViewBag.Title = "GenerateQR";
}

<hr />
<div id="printableArea" style="padding:10px;">
    @if (ViewBag.QRCodeImage != null)
    {
        <img src="@ViewBag.QRCodeImage" alt="" style="height:200px;width:200px" />
    }
    <br />
    <br />
    <h3>1) Please scan the QR code by your mobile phone and fill up the registration form.</h3>
    <h3>2) Take selfie / select photo to complete registration.</h3>
    <hr />
</div>
<div style="padding:10px;">
    <input type="button" onclick="printDiv('printableArea')" value="Print QR!" class="btn btn-success" />
</div>
<div style="padding:10px;">
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>

