
@{
    ViewBag.Title = "Notice";
}

<h2>Notice</h2>

<div style="padding:10px;"></div>
<div class="alert alert-success" role="alert">
    Your registration has been completed!
</div>
<div class="alert alert-info" role="alert">
    Please go in front of the scanner for entry.
</div>