
@{
    ViewBag.Title = "Photo";
}


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <h2> Photo</h2>
        <br />
        <div class="row">
            <div class="col-sm-10">
                <label class="custom-file-label" for="file"> Please choose a file Or take selfy</label>
                <input type="file" multiple class="custom-file-input form-control" name="file" id="file" accept="image/*" capture="camera">
                <span style="color:red">@Html.Raw(ViewBag.Message)</span>
            </div>
            <div class="col-sm-2">
                <br />
                <button type="submit" name="upload" value="upload" id="upload" class="btn btn-primary btn-block">
                    <i class="fa upload"></i> Upload
                </button>
            </div>
        </div>
    </div>
</form>

@*<hr />
<hr />
<img src="" id="image">
<input id="input" type="file" onchange="handleFiles()">

<script>
    function handleFiles() {
        var dataurl = null;
        var filesToUpload = document.getElementById('input').files;
        var file = filesToUpload[0];

        // Create an image
        var img = document.createElement("img");
        // Create a file reader
        var reader = new FileReader();
        // Set the image once loaded into file reader
        reader.onload = function (e) {
            img.src = e.target.result;

            img.onload = function () {
                var canvas = document.createElement("canvas");
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0);

                var MAX_WIDTH = 800;
                var MAX_HEIGHT = 600;
                var width = img.width;
                var height = img.height;

                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0, width, height);

                dataurl = canvas.toDataURL("image/jpeg");

                // Post the data
                var fd = new FormData();
                fd.append("name", "some_filename.jpg");
                fd.append("image", dataurl);
                fd.append("info", "lah_de_dah");                
                $.ajax({
                    url: '@Url.Action("UploadPhoto", "Selfregistration")',
                    data: fd,
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (data) {

                        location.reload();
                    }
                });
            } // img.onload
        }
        // Load files into file reader
        reader.readAsDataURL(file);
    }
</script>*@
